@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,700&display=swap");

/* Unopinionated CSS global boilerplate */
/* layout.js contains more opinionated page styles */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Global Font */
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* Footer  */
footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
}